@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 203, 213, 225;
  --background-end-rgb: 248, 250, 252;
  --accent-color: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 30, 41, 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: auto !important;
  padding: 0 !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.vertical-timeline-element-content h2 {
  color: var(--foreground-rgb) !important;
}

.vertical-timeline-element-content {
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
}

.work-item {
  .date {
    color: var(--foreground-rgb) !important;
  }

  .icon {
    display: block;
    width: 36px;
    height: 36px;
    left: auto;
    top: auto;
    margin-left: 0px;
    margin-top: 0px;
  }
}
