@import "@radix-ui/colors/blue.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --secondary-rgb: 255, 255, 255;
  --background-start-rgb: 203, 213, 225;
  --background-end-rgb: 248, 250, 252;

  --accent-color: #3b82f6;
  --accent-color-transparent: 59, 130, 246, 0;

  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --secondary-rgb: 0, 0, 0;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 30, 41, 59;
  }
} */

body {
  overflow: auto !important;
  padding: 0 !important;
}

/* Work Section Timeline */
.vertical-timeline-element-icon {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vertical-timeline-element-content h2 {
  color: var(--foreground-rgb) !important;
}

/* Timeline Item */
.work-item {
  .date {
    color: var(--foreground-rgb) !important;
  }

  .icon {
    display: block;
    width: 36px;
    height: 36px;
    left: auto;
    top: auto;
    margin-left: 0px;
    margin-top: 0px;
  }
}

/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.cta-btn--standard {
  color: rgb(var(--gray-12));

  &::after {
    background: var(--accent-a11);
    width: 100%;
    border-radius: max(var(--radius-2), var(--radius-full));
  }

  &:hover {
    color: var(--accent-a11);
    &::after {
      width: 0;
      border-radius: max(var(--radius-2), var(--radius-full));
    }
  }
}

.cta-btn--inverted {
  color: var(--accent-a11);

  &::after {
    background: var(--accent-a11);
    border-radius: max(var(--radius-2), var(--radius-full));
  }

  &:hover {
    color: rgb(var(--gray-12));

    &::after {
      width: 100%;
      border-radius: max(var(--radius-2), var(--radius-full));
    }
  }
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

.DialogContent {
  font-family: var(--font-roboto);
  overflow-y: auto;
}
