@import "@radix-ui/colors/blue.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: auto !important;
  padding: 0 !important;
}

/* Work Section Timeline */
.vertical-timeline-element-icon {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.vertical-timeline-element-content h2 {
  color: var(--foreground-rgb) !important;
}

.vertical-timeline-element--work {
  scale: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &:hover {
    scale: 1.05;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  }
}

/* Timeline Item */
.work-item {
  .date {
    color: var(--foreground-rgb) !important;
  }

  .icon {
    display: block;
    width: 36px;
    height: 36px;
    left: auto;
    top: auto;
    margin-left: 0px;
    margin-top: 0px;
  }
}

/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  border-radius: var(--radius-2);
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    border-radius: var(--radius-2);
  }

  &:hover {
    border-radius: var(--radius-2);
  }
}

.cta-btn--standard {
  color: var(--white-a12);

  &::after {
    background: var(--accent-a11);
    width: 100%;
  }

  &:hover {
    color: var(--accent-a11);
    &::after {
      width: 0;
    }
  }
}

.cta-btn--inverted {
  color: var(--accent-a11);

  &::after {
    background: var(--accent-a11);
  }

  &:hover {
    color: var(--white-a12);

    &::after {
      width: 100%;
    }
  }
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

.DialogContent {
  font-family: var(--font-roboto);
  overflow-y: auto;
  font-weight: 300 !important;
  border-radius: 1rem;

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.DialogOverlay[data-state="open"],
.DialogContent[data-state="open"] {
  animation: fadeIn 300ms ease-out;
}

.DialogOverlay[data-state="closed"],
.DialogContent[data-state="closed"] {
  animation: fadeOut 300ms ease-in;
}
